{
  "token": "",
  "clientID": "",
  "email": "",
  "password": "",
  "username": "",
  "pwd": "",
  "jp_login": "",
  "jp_pwd": "",
  "vpn_user": "",
  "vpn_password": "",
  "vpn_url": "",
  "server_username": "",
  "server_address": "",
  "accessKeyId": "",
  "secretAccessKey": "",
  "bucketName": "",
  "endpoint": "",
  "region": "",
  "cdn": "",
  "log_channel": "",
  "website_url": "",
  "waifu": boolean
}
